* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #F5E8DD;
}

.page-header {
    margin-bottom: 40px;
}

.flex-nav {
    display: flex;
    justify-content: center;
}

.tag-flex {
    display: flex;
    gap: 30px;
}

.mr-nav {
    margin: 0 70px;
    padding: 20px 0;
}

.aforisma {
    max-width: 450px;
    line-height: 26px;
}

.flex-aforisma {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    justify-content: center;
}

img {
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
}